html
	head
		meta(charset='utf-8')
		title Site profesional in rate începând de la 59 de euro!
		meta(description="NOU! Site în rate începând cu preţuri de la 59 euro fără dobândă sau comisioane. Siguranţă garantată, primești banii înapoi dacă nu ești mulţumit.")
		meta(keywords="site in rate, site ieftin, domeniu gratuit, hosting gratuit, server gratis")
		meta(property="og:image:url" content="http://www.carpatsoft.ro/site-in-rate/img/facebook-share.jpg")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Site profesional in rate începând de la 59 de euro!")
		meta(property="og:description" content="NOU! Site în rate începând cu preţuri de la 59 euro fără dobândă sau comisioane. Siguranţă garantată, primești banii înapoi dacă nu ești mulţumit.")
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,300,100,100italic,300italic,400italic&subset=latin-ext")
		link(rel="stylesheet" type="text/css" href="style.css")
		link(rel="stylesheet" type="text/css" href="responsive.css")

	body
		.big-price
			span.number 59
			span.currency &euro;*
		.you-get-title Ce primeşti?
		.write-us-title
			span Gratuit
			|&nbsp;estimare de preţ
		.content
			.blue-square
			.site-name Carpatsoft
			.site-la Site la
			.te-bagi Te bagi?
			.stim-ca Știm că abia ţi-ai deschis restaurantul, pizzeria, salonul sau poate vrei un magazin online și pentru asta ai nevoie de bani. Nu-i așa?
				br
				br
				br
				|Îţi oferim posibilitatea de a avea un site la preţ de:
			.pizza
				//img(src='img/2-pizza.png' alt='2 Pizza' title='DA, o masă în 2')
				span.pizza-text O masa in 2
				span.permonth Pe luna
			.you-get
				img(src='img/check.png')
				|Site la cheie, optimizat pe desktop şi pe mobil.
				br
				img(src='img/check.png')
				|Design unic
				br
				img(src='img/check.png')
				|SEO Profesional
				br
				img(src='img/check.png')
				|Management E-Mail
				br
				img(src='img/check.png')
				|Consultanţă 24 de luni gratuită

				span.plus Garanţia calităţii
					.badges
						img(src='img/banii-inapoi-pe-host.png' title='99.99% Uptime sau nu plătești hostingul tot anul!')
						img(src='img/5-ani-garantie.png' title='5 ani garanţie')
						img(src='img/20-reducere-clienti-noi.png' title='20% reducere daca aduceţi un prieten sau aveti un proiect nou')

				br
				img(src='img/check.png')
				|99.99% dintr-un an site-ul este online sau nu mai plătești hostingul tot anul.
				br
				img(src='img/check.png')
				|5 ani garanţie pentru tot site-ul.
				br
				img(src='img/check.png')
				|Vino cu un prieten, sau un nou proiect și primesti 20% reducere pentru toate serviciile.
			.offers
				.sm-offer
					.sm-offer-title Magazin Online
					.sm-offer-body
						.sm-offer-price
							.sm-offer-price-number 89
							.sm-offer-price-currency &euro;
						.sm-offer-get
							p design unic
							p seo profesional
							p implementare plăţi
							p management de produse
							p facturare automata
							p consultanţă premium
							p.blue 5 ani garanţie
				.offer
					.offer-title Site de prezentare
					.offer-body
						.offer-price
							.offer-price-number 59
							.offer-price-currency &euro;
						.offer-get
							p design unic
							p seo profesional
							p pagină testimoniale
							p galerie foto
							p formular contact
							p google maps
							p statistici site
							p consultanță basic
							p.blue 5 ani garanţie
				.sm-offer
					.sm-offer-title Site special
					.sm-offer-body
						.sm-offer-price
							.sm-offer-price-number.three-dig 250
							.sm-offer-price-currency.three-dig-cur &euro;
						.sm-offer-get
							p design unic
							p seo profesional
							p structură la comandă
							p funcții opţionale
							p consultanță premium
							p.blue 5 ani garanţie

			.write-us Scrie-ne la
				span
					a(href='mailto:office@carpatsoft.com?Subject=Vreau site!!')&nbsp; office@carpatsoft.com&nbsp;
				|sau completează formularul de mai jos

				form(method="post" action="contactengine.php" id="oferta-form")
					span.label.label-nume Nume:
						input(type='text' name='Name' id='Name' placehoder='Razvan')
					span.label.label-firma Firma:
						input(type='text' name='Firma' id='Firma')
					span.label.label-site Site vechi:
						input(type='text' name='Site' id='Site')
					span.label.label-telefon Telefon:
						input(type='text' name='Telefon' id='Telefon')
					span.label.label-email Email:
						input(type='text' name='Email' id='Email')
					span.label.label-tip Tip proiect:
						select(name='Tipsite')
							option(value='none') Alege...
							option(value='prezentare') Site de prezentare
							option(value='magazin') Magazin online
							option(value='special') Site special
					span.label.label-mesaj
						span Mesaj:
						textarea(name="Message" id='Message')
						input(type="submit" name='submit' value="Calculează estimare")

			.thank-you
				|Mulţumim,
				br
				|Echipa Carpatsoft
			.push
			p.bottom-text
				|Preţurile sunt exprimare in euro și reprezintă rata lunară aferentă site-ului. Ex: 59 de euro reprezintă rata pentru un site in valoare de 708 euro.
				|Perioada contractuală în cazul ratelor este de 12 de luni. Rata se calculeaza astfel: Preţ site/12.
				|Banii pe hosting se returnează dacă site-ul este offline mai mult de 58 de minute într-un an calendaristic.
				|Reducerea de 20% se aplică în cazul în care ne recomandaţi altui client și acesta lucrează cu noi. La fel se aplică reducerea și dacă aveţi un al doilea proiect și lucraţi cu noi.
		.share-float
			a(href="//m.me/carpatsoft")
				img(src='img/messenger.png')
		.iframe-messenger#message
			a(href="//m.me/carpatsoft") Ne poţi scrie și pe Messenger
				img(src='img/smile-emoji.jpg')
				|&nbsp;Click aici.

script(type='text/javascript').
	var sc_project=11034581;
	var sc_invisible=1;
	var sc_security="70de61b2";
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js")
script( language="JavaScript" type="text/javascript" src="script.js")
script( language="JavaScript" type="text/javascript" src="jquery.js")
